
main{
    height: 100%;
    display: flex;
    width: 100%;
    overflow: hidden;
    .content{
        padding: 0.5rem;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        display: grid;
        overflow-y: auto; 
        // grid-template-rows: 1fr 2fr 1fr;

        :last-child {
            align-self: end;
        }
    }
}

