@import 'variables';

.chat-messages{
    overflow-y: auto;
    max-height: 73vh;

    /* Custom Scrollbar */
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $lightPrimary;
    }

    &::-webkit-scrollbar-thumb {
        background: $srollBarThumb;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $scrollBarThumbHover;
    }

    &:last-child{
        margin-bottom: 1rem;
    }
}