.login-form{
    font-size: 1rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

    @media screen and (min-width: 768px){
        width: 400px;
        
    }
    
    label{
        font-size: 1rem;
    }
    
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        animation: slideIn 0.5s;
    }

    input{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
  
        box-sizing: border-box;
        border: 2px solid ;
        border-radius: 10px;

        &:focus{
            border: 2px solid #0f6cc9 !important;;
            background-color: red;
        }
    }

    &__submit{
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover{
            background-color: #0056b3;
        }
    }

    &__google{
        text-align: center;
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;

    }
}