@import 'variables';

.content{
    width: 100%;
    padding: 5%;
    color: $darkPrimary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: slideIn 0.5s;

    .chat{
        &__description{
            color: $darkPrimary;
            &__header{
                font-size: 2rem;
                font-weight: bold;
                color: $darkPrimary;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid $darkSecondary;
            }
            &__cards{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 2rem;
                gap: 1rem;

            }
            &__links{
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                &__icon{
                    font-size: 1rem;
                   
                }

                &__text{
                    font-size: 1rem;
                    &::before{
                        content: " ";                    
                    }
                
                }
            }
        }

        &__usage{
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            width: fit-content;

            &__proceed{
                margin-top: 1em;
                background-color: rgba($darkPrimary, 0.8);
                color:white;
                &:hover{
                    background-color: $darkPrimary;
                }
            }

            &__content{
                display: flex;
                flex-direction: column;
            }
        }
    }    
}
