@import 'variables';

.sidenav{
    position: relative;
    background-color: $darkPrimary;

    color: white;
    transition: width 1s;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto; 
    max-width: 100%; 

    &__link{
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        &:hover{
            font-size: 1.1rem;
        }
    }

    &__line{
        border-top: 0.5px solid $lightPrimary;
        margin-bottom: 0.5rem;	    
    }
    
   
    &:hover{
        overflow-y: auto;
        width: auto; 
       
    }

    &__menu{
        white-space: nowrap; 
        flex: 1;
        padding: 0rem 0.5rem ;
        
    }


    /* Custom Scrollbar */
    &::-webkit-scrollbar {
        
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $lightPrimary;
    }

    &::-webkit-scrollbar-thumb {
        border: none;
        background: $srollBarThumb;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $scrollBarThumbHover;
    }

    &:last-child{
        margin-bottom: 1rem;
    }

}