
.sidenav{
    background-color: #333;
    color: white;
    transition: width 1s;
    font-size: 1.3rem;
    padding: 1rem 0.5rem;
    overflow-y: auto;
   

    &:hover{
        width: 100%;
        overflow-y: auto;
        overflow-x: auto;
        padding: 1rem 0.5rem;
    }

    &__menu{
        white-space: nowrap;
    }

    &__menu-preview{
        width: 100%;
        cursor: pointer;
    }

    /* Custom Scrollbar */
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &:last-child{
        margin-bottom: 1rem;
    }

}



